<div *ngIf="item === 'estrellas'" class="flex items-center gap-2 text-[white] font-[inter-bold]"
  [ngClass]="{'flex-row':cssFlexRow === 'row', 'flex-row-reverse': cssFlexRow === 'reverse'}">

  <svg xmlns="http://www.w3.org/2000/svg" class="text-green-400 " [style.width.px]="cssIconDimension*1.2" viewBox="0 0 12 12">
   <title xmlns="">{{cantidad}} estrellas</title>
    <path fill="currentColor"
      d="M5.283 1.546a.8.8 0 0 1 1.435 0L7.83 3.798l2.486.361a.8.8 0 0 1 .443 1.365L8.96 7.277l.425 2.476a.8.8 0 0 1-1.16.844L6 9.427l-2.224 1.17a.8.8 0 0 1-1.16-.844l.424-2.476l-1.799-1.753a.8.8 0 0 1 .444-1.365l2.486-.36l1.111-2.253Z" />
  </svg>



  {{ obtenerCantidadFormateada(cantidad) }}
</div>

<div *ngIf="item === 'monedas'" class="flex items-center gap-2 text-[white] font-[inter-bold]"
  [ngClass]="{'flex-row':cssFlexRow === 'row', 'flex-row-reverse': cssFlexRow === 'reverse'}">
  <img #monedasHeader src="/img/coin-svgrepo-com.png" alt="" [style.width.px]="cssIconDimension"
    [title]="cantidad + ' monedas'" />
  {{ obtenerCantidadFormateada(cantidad) }}
</div>

<div *ngIf="item === 'vidas'" class="flex items-center gap-2 text-[white] font-[inter-bold]"
  [ngClass]="{'flex-row':cssFlexRow === 'row', 'flex-row-reverse': cssFlexRow === 'reverse'}">
  <img src="/img/heart-suit-svgrepo-com.png" alt="" [style.width.px]="cssIconDimension" [title]="cantidad + ' vidas'" />
  {{ obtenerCantidadFormateada(cantidad) }}
</div>

<div *ngIf="item === 'regalo'" class="flex items-center gap-2 text-[white] font-[inter-bold]"
  [ngClass]="{'flex-row':cssFlexRow === 'row', 'flex-row-reverse': cssFlexRow === 'reverse'}">
  <img src="/img/gift.png" alt="" [style.width.px]="cssIconDimension" />
  {{ cantidad }}
</div>
