.main-layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  color: var(--color-texto);
}

.ng-content {
  background-color: var(--azul-oscuro);
  width: 100%;
  min-height: 100vh;
  padding: 30px 60px;
  padding-left: 360px;
  overflow-x: hidden;
}

h1 {
  color: black;
  font-family: 'Inter-bold', sans-serif;
}

@media (max-width: 1000px) {
  .ng-content {
    padding: 15px 25px;
  }
}
