.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 10px;
  border: 2px solid var(--color-secundario);
  cursor: pointer;
  transition: all 0.3s ease;
}

.foto-perfil:hover{
  transform: scale(1.1);
}

.info-usuario {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
  gap: 50px;
}

.columna-1 {
  flex: 1;
  background-color: var(--color-principal);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--color-bordes);
}

.columna-2 {
  background-color: var(--color-principal);
  border: 1px solid var(--color-bordes);
  padding: 30px;
  border-radius: 20px;
  min-height: max-content;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columna-2 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columna-2 ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-family: 'Inter-extrabold', sans-serif;
}

.columna-2 ul li img {
  width: 40px;
  height: 40px;
}
.columna-texto {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.columna-texto h2 {
  font-size: 40px;
}

.columna-texto p {

}

@media (max-width: 1100px) {
  .info-usuario {
    flex-direction: column;
    gap: 30px;
  }
  .foto-perfil {
    width: 70px;
    height: 70px;
  }

  .columna-texto h2 {
    font-size: 30px;
  }

  .columna-texto p {
    font-size: 14px;
  }
}
