<app-main-layout>
  <app-header [titulo]="'Mi Perfil'"></app-header>
  <div class="perfil-main">
    <div class="info-usuario">
      <div class="columna-1">
        <img
          [src]="fotoPreview != '' ? fotoPreview : usuario?.fotoURL"
          class="foto-perfil"
          (click)="fileInput.click()"
        />
        <div class="columna-texto">
          <!-- <div>
            <p>{{ usuario.proveedor }}</p>
          </div> -->
          <form class="flex flex-row gap-5 items-center flex-wrap flex-1">
            <input
              type="file"
              id="foto"
              (change)="onImagenSeleccionada($event)"
              accept=".jpg, .jpeg, .png"
              class="hidden"
              #fileInput
            />

            <div class="flex flex-col">
              <input
                type="text"
                class="rounded-[10px] border-1 border-[var(--color-bordes)] focus: outline-white focus:outline-1 !p-[10px]"
                value=""
                id="nombre"
                [formControl]="nombre"
                maxlength="15"
                minlength="4"
              />

              @if (nombre.invalid) {
              <div class="text-red-500 text-[14px]">El nombre debe tener al menos 4 caracteres</div>
              }
            </div>
          </form>
        </div>
        <div class="flex flex-row align-middle gap-4">
          <app-boton-general
            [texto]="'Guardar Cambios'"
            [tipo]="'general'"
            (click)="actualizarUsuarioClick()"
          ></app-boton-general>
        </div>
      </div>

      <!-- <div class="columna-2">
        <ul>
          <li class="cerebros">
            <item [item]="'cerebro'" [cantidad]="usuario?.estrellas"></item>
          </li>
          <li class="monedas">
            <item [item]="'moneda'" [cantidad]="usuario?.monedas"></item>
          </li>
          <li class="vidas">
            <item [item]="'vida'" [cantidad]="usuario?.vidas"></item>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
  <espacio [altura]="20"></espacio>

  <div>
    <app-boton-general [texto]="'Cerrar Sesión'" [tipo]="'destacado'" (click)="abrirModal()"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="var(--color-principal)"
      >
        <path
          d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
        />
      </svg>
    </app-boton-general>
  </div>

  @if (guardado) {
  <app-mensaje-alerta
    [mensaje]="'Perfil actualizado con éxito'"
    [tipo]="'exito'"
  ></app-mensaje-alerta>
  } @if (modalAbierto) {
  <app-modal
    [titulo]="'¿Estás seguro de que quieres cerrar sesión?'"
    [btn1]="'Cancelar'"
    [btn2]="'Cerrar Sesión'"
    (click1)="cerrarModal()"
    (click2)="cerrarSesion()"
  >
    <espacio [altura]="20"></espacio>
  </app-modal>

  }
  <espacio [altura]="40"></espacio>
  <!-- <app-texto-h1 [texto]="'Estadísticas'"></app-texto-h1> -->
</app-main-layout>
