<app-main-layout>
  <app-texto-h1 [texto]="'Mi Perfil'"></app-texto-h1>
  <div class="perfil-main">
    <div class="info-usuario">
      <div class="columna-1">
        <img
          [src]="
            usuario?.fotoURL ||
            'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg'
          "
          class="foto-perfil"
        />
        <div class="columna-texto">
          <!-- <div>
            <p>{{ usuario.proveedor }}</p>
          </div> -->
          <form>
            <input
              type="text"
              class="rounded-[10px] border-1 border-[var(--color-bordes)] focus: outline-white focus:outline-1 !p-[10px] text-2xl"
              value=""
              [formControl]="nombre"
              maxlength="15"
            />
            <div *ngIf="nombre.invalid" class="text-red-500 font-bold">Mínimo 4 y máximo 15 caracteres</div>
          </form>
          <p>{{ usuario.email }}</p>
        </div>
      </div>

      <div class="columna-2">
        <ul>
          <li class="cerebros" style="color: var(--color-rosa)">
            <img src="/img/brain-svgrepo-com.png" alt="" />
            {{ usuario?.cerebros }}
          </li>
          <li class="monedas" style="color: var(--color-amarillo)">
            <img src="/img/coin-svgrepo-com.png" alt="" /> {{ usuario?.monedas }}
          </li>
          <li class="vidas" style="color: var(--color-rojo)">
            <img src="/img/heart-suit-svgrepo-com.png" alt="" />{{ usuario?.vidas }}
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-row align-middle gap-4 !mb-10">
      <app-boton-general [texto]="'Cerrar Sesión'" (click)="abrirModal()"></app-boton-general>
      <div *ngIf="nombre.dirty">
        <app-boton-general [texto]="'Guardar'" (click)="guardarClick()"></app-boton-general>
      </div>
    </div>
  </div>

  <div *ngIf="modalAbierto">
    <app-modal
      [titulo]="'¿Estás seguro de que quieres cerrar sesión?'"
      [btn1]="'Cancelar'"
      [btn2]="'Cerrar Sesión'"
      (click1)="cerrarModal()"
      (click2)="cerrarSesion()"
    ></app-modal>
  </div>
  <app-texto-h1 [texto]="'Estadísticas'"></app-texto-h1>
</app-main-layout>
