<div>
  <div
    class="border border-[var(--color-bordes)] rounded-4xl overflow-hidden bg-[var(--color-principal)]"
  >
    <div
      class="bg-[var(--azul-claro)]  !p-3 rounded-3xl animacion-progreso flex flex-row items-center gap-2"
      [style.width.%]="tiempo() * 10"
      [ngStyle]="{ 'background-color': tiempo() <= 3 ? 'red' : '' }"
    >
      <img src="/img/clock.png" alt="" class="!w-[30px]">
      <p class="text-[white] !font-[inter-bold]">{{ tiempo() }}</p>
    </div>
  </div>
</div>
