<div class="fixed inset-0 flex justify-center items-center bg-black/50 z-40">
  <div
    class="flex flex-col justify-center items-center bg-[var(--color-principal)] rounded-2xl border border-[var(--color-bordes)] p-8! m-2"
  >
    <h2 class="text-2xl mb-4 text-center">{{titulo}}</h2>
    <div class="flex flex-row gap-4">
      <app-boton-general [texto]="btn1" (click)="onClick1()"></app-boton-general>
      <app-boton-general [texto]="btn2" (click)="onClick2()"></app-boton-general>
    </div>
  </div>
</div>
