<app-main-layout>
  <app-header [titulo]="'Jugar'"></app-header>

  <div class="aprender-main">
    <div class="campo-buscador" [class.activo]="inputBuscadorActivo">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20">
        <path fill="var(--color-secundario)"
          d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33l-1.42 1.42l-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
      </svg>
      <input type="text" class="buscador font-[inter-bold]" placeholder="Buscar temas..."
        (focus)="inputBuscadorActivo = true" (blur)="inputBuscadorActivo = false" [(ngModel)]="valorBusqueda" />
    </div>
  </div>

  @if(valorBusqueda()){
  <p class="!mt-5">Resultados para {{ valorBusqueda() }}</p>
  }

  <div class="!mt-6 grid grid-cols-[repeat(auto-fill,minmax(16em,1fr))] gap-3">


    @if (!valorBusqueda()) {
    <div
      class="relative rounded-[20px] h-[250px] cursor-pointer bg-[var(--color-principal)] overflow-hidden flex flex-col justify-center items-center border border-[var(--color-secundario)] hover:border-[var(--color-amarillo)]"
      (click)="navegarHaciaIA()">
      <h2 class="absolute top-4 left-4 w-[80%] z-10 text-left !text-[1.6em] !font-[nunito]">juega contra la IA✨</h2>
      <img [src]="'img/Trival-IA.png'" alt="" [style.width%]="70" [style.heigth]="70" style="object-fit: contain;" />
      <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black/70 to-transparent"></div>

    </div>

    @for (categoria of categorias(); track $index) {
    <div #categorias
      class="relative rounded-[20px] h-[250px] cursor-pointer overflow-hidden border-1 border-[var(--color-secundario)] hover:border-[var(--color-amarillo)]"
      (click)="navegarHaciaCategoria(categoria.idCategoria)">
      <img [src]="categoria.imagenURL" alt="" style="object-fit: cover; height: 100%; width: 100%"
        class=" hover:scale-105" />
      <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black/70 to-transparent"></div>
      <h2 class="absolute top-4 left-4 w-[80%] z-10 text-left !text-[1.6em] !font-[nunito]">
        {{ categoria.titulo }}
      </h2>
    </div>
    }
    } @if (valorBusqueda()) {


    @for (categoria of filtrarCategorias(valorBusqueda()); track $index) {
    <div
      class="relative rounded-[20px] h-[250px] cursor-pointer  overflow-hidden border-1 border-[var(--color-secundario)] hover:border-[var(--color-amarillo)]"
      (click)="navegarHaciaCategoria(categoria.idCategoria)">
      <img [src]="categoria.imagenURL" alt="" style="object-fit: cover; height: 100%; width: 100%"
        class="" />
      <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black/70 to-transparent">
      </div>
      <h2 class="absolute top-4 left-4 w-[80%] z-10 text-left !text-[1.6em] !font-[nunito]">
        {{ categoria.titulo }}
      </h2>
    </div>
    }@empty{
    <div #categorias></div>
    }


    }
  </div>


</app-main-layout>
