<app-main-layout>
  <app-header [titulo]="'Trival-IA'"></app-header>

  @if(!partidaComenzada()) {
  <div
    class="!mt-[20px] !p-[30px] border border-[var(--color-bordes)] rounded-[20px] bg-[var(--color-principal)] flex flex-row gap-6 items-center justify-between">

    <div class="flex flex-row items-center gap-2">
      <img src="/img/Trival-IA.png" alt="IA" class="!w-[150px] !h-[150px] animate-squeeze">
      <div>
        <h2>Hola, {{usuario().nombre}}</h2>
        <p>¿Te atreves a responder una pregunta difícil hecha por <strong>Trival-IA</strong>?</p>
      </div>

    </div>


    <div class="flex flex-row items-center gap-4">
      <espacio [ancho]="10"></espacio>
      <div class="flex flex-col items-end">
        <p class="text-[var(--color-secundario)]">Recompensas:</p>
        <item item="monedas" [cantidad]="400" [cssFlexRow]="'reverse'" [cssIconDimension]="20"></item>
        <item item="estrellas" [cantidad]="30" [cssFlexRow]="'reverse'" [cssIconDimension]="20"></item>
        <item item="regalo" [cantidad]="1" [cssFlexRow]="'reverse'" [cssIconDimension]="20"></item>
      </div>
      <div class="">
        <app-boton-general [texto]="'Jugar (300 monedas)'" [tipo]="'destacado'"
          (click)="obtenerPreguntaIA()"></app-boton-general>
      </div>

    </div>


  </div>
  }

  @if(partidaComenzada()) {
  @if (pregunta()) {
  <div
    class="bg-[var(--color-principal)] rounded-[20px] border border-[var(--color-bordes)] !p-[30px] !mt-[20px] relative">

    <div class="flex flex-row items-center gap-5">
      <img src="img/Trival-IA.png" alt=""
        class="!w-[250px] !h-[250px] object-contain rounded-[10px] !p-[15px] overflow-hidden" />
      <div class="flex flex-col items-center gap-2 !w-full">
        <h2 class="text-[18px] text-center">{{ pregunta()?.pregunta }}</h2>
        <div class="flex flex-col items-center gap-2 !w-full">
          @if (pregunta()?.tipo_pregunta == 'OPCIONES') { @for (opcion of opcionesPregunta();
          track $index) {
          <button (click)="verificarRespuesta(opcion)"
            class="border-2 border-[var(--color-bordes)] !p-2 rounded-[30px] !w-full cursor-pointer hover:bg-white hover:text-[var(--color-principal)]"
            [disabled]="respuestaSeleccionada()">
            {{ opcion }}
          </button>
          }
          }
        </div>

        @if (mensaje()) {
        <div [ngStyle]="{ 'background-color': esCorrecta() ? '#00B241' : 'red' }"
          class="animate-rubber-band !p-3 rounded-[10px] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 border-4 z-100">
          <p class="!font-[inter-bold] text-3xl text-center">{{ mensaje() }}</p>
        </div>
        }
      </div>
    </div>
  </div>

  } @else{
  <div class="!mt-[20px] flex flex-col items-center gap-5 justify-center !w-full !h-[100%]">
    <p class="text-[18px]">Pensando en una pregunta... ✨</p>
    <div class="loader"></div>
  </div>

  }
  }

  @if(finPartida()){
  @if(esCorrecta()){
  <app-modal [titulo]="'¡Felicidades, ' + usuario().nombre + '!'" [btn2Activo]="false" btn1="Vale" (click1)="salir()">
    <p class="flex flex-row flex-wrap items-center gap-2">Has respondido correctamente la pregunta de Trival-IA y has
      ganado

    </p>
    <div class="flex flex-row items-center gap-4">
      <item [item]="'estrellas'" [cantidad]="30" [cssFlexRow]="'reverse'"></item>
      <item [item]="'monedas'" [cantidad]="400" [cssFlexRow]="'reverse'"></item>
      <item [item]="'regalo'" [cantidad]="1" [cssFlexRow]="'reverse'"></item>
    </div>

  </app-modal>
  } @else {
  <app-modal [titulo]="'¡Vaya, ' + usuario().nombre + '!😞'" btn1="Salir" (click1)="salir()"
    btn2="Volver a intentar (300 monedas)" (click2)="intentarDeNuevo()">
    <p>Has respondido incorrectamente la pregunta de Trival-IA. ¡Inténtalo de nuevo!</p>
    <p>Has perdido una vida... Te quedan {{usuario().vidas}}</p>
  </app-modal>
  }
  }

</app-main-layout>
