/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#ffffff 90%,#0000);
  background:
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}


.robot-float {
    width: 150px;
    animation: floaty 3s ease-in-out infinite;
  }

  @keyframes floaty {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }


.saltador {
  display: inline-block;
  transition: all 0.3s ease;
  animation: saltoGiro 2s ease-in-out infinite; /* Cambia 2s por los segundos que desees */
}

@keyframes saltoGiro {
  0% {
    transform: translateY(0) rotateX(0deg);
  }
  30% {
    transform: translateY(-80px) rotateX(180deg);
  }
  60% {
    transform: translateY(-80px) rotateX(360deg);
  }
  100% {
    transform: translateY(0) rotateX(360deg);
  }
}
