.login {
  height: 100vh;
  background-image: url('/img/bg-big-trivalia.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
  cursor: pointer;
}

h1 {
  width: 350px;
  color: var(--color-secundario);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  /* margin-top: 20px;
margin-bottom: 20px; */
}

form .campo-form input {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--color-secundario);
  outline: none;
  font-family: 'Inter-bold', sans-serif;
  font-size: 16px;
  color: white;
  background-color: transparent;
}

form .campo-form input::placeholder {
  color: var(--color-secundario); /* el color que quieras */
  opacity: 1; /* opcional, por defecto los placeholders son un poco transparentes */
}

button {
  background-color: white;
  color: var(--color-principal);
  font-family: 'Inter-bold', sans-serif;
  font-size: 16px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.btn-provider {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 15px 25px;
  margin-bottom: 15px;
}

.btn-provider img {
  margin-right: auto;

}

.link-registro {
  color: white;
  font-family: 'Inter-bold';
  text-align: center;
}
