.logo {
  width: 80%;
  cursor: pointer;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-lateral {
  padding: 20px;
  background-color: var(--color-principal);
  border-right: 1px solid var(--color-bordes);
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  justify-content: space-between;
}

.nav-lateral nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav-lateral nav ul li {
  list-style: none;
  cursor: pointer;
}

.nav-lateral nav ul li:hover a {
  background-color: var(--azul-oscuro);
}

.nav-lateral nav ul li svg {
  fill: white;
}

.nav-lateral nav ul li svg {
  width: 32px;
  height: 32px;
}

.nav-lateral nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 10px;

  border: 2px solid transparent;
}

.nav-lateral nav ul li a.activo {
  font-family: 'Inter-bold' !important;
  background-color: var(--azul-oscuro);
  border: 2px dashed var(--color-secundario);
}


@media (max-width:1000px) {
.nav-lateral{
  display: none;
}
}
