@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

:root {
  --azul-claro: #00AFCB;
  --color-principal: #113270;
  --color-secundario: #dde9ff;
  --color-texto: white;
  --color-texto-juego: black;
  --azul-oscuro: #0f2c63;
  --color-bordes: #728fc4;
  --color-rosa: #f4abba;
  --color-amarillo: #f0c419;
  --color-rojo: #ff262e;
}

@font-face {
  font-family: 'Inter-regular';
  src: url('assets/fonts/static/Inter_18pt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('assets/fonts/static/Inter_18pt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-extrabold';
  src: url('assets/fonts/static/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
}

@font-face {
  font-family: 'nunito';
  src: url('assets/fonts/Anton/Anton-Regular.ttf') format('truetype');
  font-style: normal;
}

body {
  font-family: 'Inter-regular', sans-serif;
  overflow-x: hidden;
}

p,
li {
  font-family: 'Inter-regular' !important;
}

button {
  font-family: 'Inter-bold' !important;
}

h1 {
  font-family: 'nunito', sans-serif !important;
}
h2 {
  font-family: 'nunito', sans-serif !important;
  font-size: 25px;
}

strong{
  font-family: 'inter-extrabold', sans-serif !important;
}



* {
  margin: 0;
  padding: 0;
}


.mensaje-error {
  color: red;
  font-family: 'Inter-bold', sans-serif;
}


.btn-3d {
  background: linear-gradient(to bottom, #60A5FA, #2563EB); /* brillo arriba */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 14px 28px;
  box-shadow:
    0 6px 0 #1E3A8A, /* sombra sólida abajo */
    0 6px 15px rgba(0, 0, 0, 0.4); /* sombra difusa */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.btn-3d:active {
  transform: translateY(4px); /* se “hunde” */
  box-shadow:
    0 2px 0 #1E3A8A,
    0 2px 6px rgba(0, 0, 0, 0.4);
}
